#Profile
{
    text-align: center;
    align-items: center;
    color:beige;
    letter-spacing: 5px;
}
#nme
{
    color: blanchedalmond;
}
#Profession
{
   color: blanchedalmond;
}
#Bio
{
    color: blueviolet;
}
#A1
{
    text-align: center;
    color:cyan;
}
#A2
{
    text-align: center;
   color: aqua;
}
#A3
{
    text-align: center;
   color: aqua;
}
#A4
{
    text-align: center;
    color: aqua;
}
#A5
{
    text-align: center;
    color: aqua;
}
#Email
{
    color: blanchedalmond;
}
#Phone
{
   color: blanchedalmond;
}
#Location
{
    color: blanchedalmond;
}
#Linkedin
{
     
}
#Img1
{
    width: 10%;
    height: 97%;
}
/* #FB
{
    color: azure;
      height: 100vh;
      width: 20vh;
      display: flex;
      justify-content: center; 
      align-items: center; 
} */
.Logo
{
    display: flex;
    justify-content: space-between;
   

}
/* Start */
.container {
  max-width: 1200px;
  width: 100%;
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .main-content {
    width: 100%;
  }
}


/* End */
